Pillow
Source: https://github.com/python-pillow/Pillow
Documentation: https://pillow.readthedocs.io/en/stable/

Numpy
Source: https://github.com/numpy/numpy
Documentation: https://numpy.org/doc/

Perlin-Noise
Source: https://github.com/salaxieb/perlin_noise
Documentation: https://github.com/salaxieb/perlin_noise
